* {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*overflow-x: hidden;*/
}
       /* Grid Layout */
.cuerpo {
    display: grid;
}

.grid__container{
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 2.5rem repeat(3, auto);
    gap: 0;
    grid-template-areas: 
    "header"
    "imagenestop"
    "main"
    "footer";
}
.header {
    grid-area: header;
}

.main__imagenestop {
    grid-area: imagenestop;
    grid-column-start: 1;
    grid-column-end: 4;

}

.main {
    grid-area: main;

}
.footer__contenedor {
    grid-area: footer;
}


           /*  HEADER  */



.barra {
    background-color: cornflowerblue;
    width: 100%;
    height: 80px;
    position: fixed;
    margin: 0 0;
    z-index: 1000;
}

.header__logo {
    position: absolute;
    padding: 20px 50px;
}

.header__logo1 {
    height: 50px;
}

.header__soter {
    margin-left: 100px;
}

.barra ul {
    float: right;
    margin-right: 20px;
}

.barra ul li {
    display: inline-block;
    line-height: 78px;
    margin: 0 0;
}

.header__navmenu li a {
    color: white;
    font-size: 1.2rem;
    padding: 7px 13px;
    text-transform: uppercase;
}

.header__navmenu li a:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
}

.nav__checkmenu{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#menu_check {
    display: none;
}

     /*Animacion Menu */

     .menu__animate--delay1 {
        animation-delay: 0.3s;
    }
    
    .menu__animate--delay2 {
        animation-delay: 0.6s;
    }
    
    .menu__animate--delay3 {
        animation-delay: 0.9s;
    }
    
    .menu__animate--delay4 {
        animation-delay: 1.2s;
    }
    
       /*   ---------    */ 

.header__submenu {
    position: absolute;
    display: none;
    text-align: center;
    margin: 0 0;
}

.header__submenu li a {
    font-size: 1rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}


#menu4:hover .header__submenu {
    display: block;
    text-align: left;
    background-color: rgb(37, 102, 223);
    width: auto;
    overflow: hidden;
} 

@media (max-width: 1074px) {
    .header__logo {
        padding: 15px;
    }

    .header__soter {
        margin-left: 60px;
    }

}

@media (max-width: 1033px) {
    .header__logo {
        padding: 15px;
    }

    .header__soter {
        margin-left: 60px;
    }

    .header__navmenu li a {
        font-size: 1rem;
    }

}

@media (max-width: 937px) {
    .nav__checkmenu {
        display: block;
        margin-top: 0.625rem;
    }

    .header__navmenu {
        position: fixed;
        width: 100%;
        height: calc(100% - 80px);
        background:rgb(28, 28, 141);
        top: 80px;
        left: -100%;
        text-align: left;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
    
    }

    .header__navmenu li {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        line-height: 30px;
    }

    .header__navmenu li a {
        color: cornflowerblue;
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
    }

    .header__navmenu li a:hover {
        background: none;
    }

    #menu_check:checked ~ .header__navmenu {
        left: 50%;
    }

    .header__submenu {
        display: none;
    }

    .header__submenu li {
        display: none;
    }

    #menu4:hover .header__submenu {
        display: none;
    }
    
} 

@media (max-width: 370px) {

    .nav__checkmenu {
        display: block;
        margin-right: 0.6rem;
    }
}


      /*     BODY     */

body{
    margin: 0 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
    
}

main {
    padding-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.main__imagenestop {
    padding-top: 3rem;
}

h1{
    text-align: center;
    font-size: 4rem;
    margin: 1.2rem;
}

h2 { 
    text-align: center;
    font-size: 3rem;
    margin: 1.2rem;
}

h3 {
    text-align: center;
    font-size: 3rem;
    clear: both;
    margin: 1rem;
}

h4 {
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem;
}


       /* Inicio  */

         /*Grid inicio*/


.seccion__inicio {
    background: cornflowerblue;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.seccion__inicio p {
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.seccion__tarjetas {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin: 1rem 1rem;
}

.seccion__tarjetas div p a {
    text-decoration: none;
    color: black;
}

.seccion__tarjetaizq {
    width: 30%;
}

.seccion__tarjetacentral {
    width: 30%;
}

.seccion__tarjetaderecha {
    width: 30%;
}




@media screen and (max-width: 922px) {
    
    .seccion__inicio {
        font-size: 1.7rem;
    }
    
    .seccion__tarjetas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        margin: 0.8rem;
    }

    .seccion__tarjetas__texto--fuente {
        font-size: 1.2rem;
    }
    .seccion__tarjetaizq {
        width: auto;
        
    }
    
    .seccion__tarjetacentral {
        width: auto;
    }
    
    .seccion__tarjetaderecha {
        width: auto;
    }
}


         /* Acerca DE  */

.main__acerca {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    width: 100%;
}


.Secciones__acerca {
 margin-left: 0;
}

.seccion__acerca__mision, 
.seccion__acerca__valores {
    text-align: center;
    margin-right: 1rem;
}

.main__secciones__historia {
    margin-left: 1rem;
}
.main__secciones__historia1 {
    float: right;
}

.main__secciones__soter {
    margin: 2rem 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

.main__valores__titulo {
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.valores__titulos {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

#Mision {
    background: cornflowerblue;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    margin-left: 0;
    padding-left: 1rem;
    
}

.main__secciones__valores1 {
    float: left;
}

.main__valores__lista li{
    list-style-image: url(img/staricon2.png);
    line-height: 1.6rem;
    list-style-position: inside;
    margin-left: 2rem;
    padding-left: 2rem;
    font-size: 1.3rem;
}

@media screen and (max-width: 1200px) {

    .main__secciones__historia {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main__secciones__historia1 img {
        width: 100%;
    }

    .main__secciones__valores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;
        flex-wrap: wrap;
        margin-left: 2rem;
    }

    .main__secciones__valores1 {
        display: flex;
        justify-content: center;
    }

    .main__valores__titulo {
        text-align: center;
    }
    .main__valores__lista {
        display: flex;
        flex-direction: column;
        margin-left: 1.3rem;
    }

    #Mision {
        font-size: 1.7rem;
    }

}


         /* EQUIPO */

.main__equipo {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.main__equipo h3 {
    font-family: 'Luxurious Roman', cursive;
}

.secciones__equipo1 {
    font-size: 1.3rem;
    margin: 1.5rem 2rem;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    
}
.secciones__equipo2 {
    background: cornflowerblue;
    color: white;
    width: 100%;
    font-size: 1.5rem;
}

.secciones__equipo2 p {
    margin: 1rem 1.5rem;
    text-align: justify;
} 

.equipo__subtitulos--derecha {
    text-align: right;
}

.equipo__subtitulos--izquierda {
    text-align: left;
}

.main__seccion__banderas--larga {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 980px) {

    .secciones__equipo1 {
        font-size: 1.5rem;
    }
}


        /* SERVICIOS  */



.main__servicios {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}


.main__seccion__custodias1 {
    float: left;
    padding: 0.5rem;
}

.main__seccion__investigacion1 {
    float: right;
    padding: 0.5rem;
}

.main__seccion__soluciones1 {
    float: left;
    padding: 0.5rem;
}

.main__seccion__capacitaciones1 {
    float: right;
    padding: 0.5rem;
}

.main__seccion__auditoria1 {
    float: left;
    padding: 0.5rem;
}

.main__seccion__mapa {
    float: left;
    padding: 0.5rem;
}

#imgservicios {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

@media screen and (max-width: 938px) {
    .main__servicios__custodias,
    .main__servicios__investigaciones,
    .main__servicios__soltec,
    .main__servicios__capacitaciones,
    .main__servicios__auditoria  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main__seccion__custodias1 img,
    .main__seccion__investigacion1 img,
    .main__seccion__soluciones1 img,
    .main__seccion__capacitaciones1 img,
    .main__seccion__auditoria1 img {
        width: 100%;
    }

    #imgservicios {
        height: 4.5rem;
    }
}
    

/* CONTACTO */

.main__seccion__formulario {
    background-image: url(img/contacto.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}



.main__formulario {
    width: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
}

select {
    margin-top: 1rem;
}

#nombreapellido, #tel, #correo, #comentario {
    width: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
}

textarea {
    min-height: 50px;
    max-height: 300px;
    min-width: 50%;
    max-width: 50%;
}

#enviar, #reset {
    width: 50%;
    background-color: rgb(37, 52, 75);
    color: white;
    border: none;
    box-sizing: border-box;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;

}

#enviar, #reset:hover {
    cursor: pointer;
}

.seccion__locacion {
    margin-top: 1.2rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}

.seccion__locacion p {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.main__seccion__mapa--desktop iframe {
    width: 100%;
} 

.seccion__mapa__ubicacion {
    margin: 2rem 2rem;
    text-align: justify;
}


@media screen and (max-width: 724px) {

    .seccion__locacion {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 1.2rem 1.5rem;
    }

    .main__seccion__mapa {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 580px) {

    #nombreapellido, #tel, #correo, #comentario {
        width: 70%;
    }

    textarea {
        min-height: 50px;
        max-height: 300px;
        min-width: 70%;
        max-width: 70%;
    }

    #enviar, #reset {
        width: 70%;
        
    }

}

@media screen and (max-width: 450px) {

    .main__seccion__formulario {
        background-size: 100% 100vh;
    }
    
    #enviar, #reset {
        font-size: 1rem;
    }

}


          /*   FOOTER   */

footer {
    background-color: #4b6587;
    margin-top: 6px;
    clear: both;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    
}

.footer__contenedor {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.footer__columna1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    font-size: 1.2rem;
    
}

.footer__columna2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subgrid__derechos  {
    margin-top: 5px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.footer__columna3 {
    margin-top: 0px;
    margin-right: 0;    
    text-align: justify;
    font-size: 1.2rem;
}

.columna3__contacto__whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna3__contacto__telefono {
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna3__contacto__mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

       /*  FOOTER MOBILE */

@media screen and (max-width: 724px) {
    
    .subgrid__politicas {
        grid-area: politicas;
        text-align: center;
    }

    .subgrid__redes {
        grid-area: redes;
        align-content: space-between;
        align-items: center;
    }

    .subgrid__derechos {
        grid-area: derechos;
        font-size: 1.3rem;
    }

    .subgrid__contactos {
        grid-area: contactos;
    }
    
    .footer__contenedor {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        gap: 0.5rem;
        grid-template-areas: 
        "redes"
        "contactos"
        "politicas"
        "derechos";
        justify-content: center;

    }






}