/* Acerca DE  */

.main__acerca {
    margin-left: map-get($espacios, 0);
    margin-right: map-get($espacios, 0);
    padding-left: map-get($espacios, 0);
    width: 100%;

    .Secciones__acerca {
        margin-left: map-get($espacios, 0);
    }
}


.seccion__acerca__mision, 
.seccion__acerca__valores {
    text-align: $centrado;
    margin-right: map-get($espacios, 01);
}

.main__secciones__historia {
    margin-left: map-get($espacios, 01);
}
.main__secciones__historia1 {
    float: right;
}

.main__secciones__soter {
    margin: 2rem 2rem;
    font-size: map-get($fontsize, 103);
    text-align: justify;
}

.main__valores__titulo {
    font-size: map-get($fontsize, 107);
    margin-top: map-get($espacios, 01);
    margin-bottom: map-get($espacios, 01);
}
.valores__titulos {
    font-size: map-get($fontsize, 105);
    margin-bottom: map-get($espacios, 008);
    margin-top: map-get($espacios, 008);
}

#Mision {
    @extend .secciones__celeste;

    margin-left: map-get($espacios, 0);
    padding-left: map-get($espacios, 01);
    
}

.main__secciones__valores1 {
    float: left;
}

.main__valores__lista {

    li{
        list-style-image: url(../img/staricon2.png);
        line-height: 1.6rem;
        list-style-position: inside;
        margin-left: map-get($espacios, 0);
        padding-left: map-get($espacios, 0);
        font-size: map-get($espacios, 013);
    }
}

@media screen and (max-width: 1200px) {

    .main__secciones__historia {
        display: flex;
        flex-direction: column;
        font-size: map-get($fontsize, 105);
        margin-left: map-get($espacios, 01);
        margin-right: map-get($espacios, 01);
    }

    .main__secciones__historia1 {
        img {
        width: 100%;
        }
    }

    .main__secciones__valores {
        display: flex;
        flex-direction: column;
        justify-content: $centrado;
        font-size: map-get($fontsize, 1);
        flex-wrap: wrap;
        margin-left: map-get($espacios, 02);
    }

    .main__secciones__valores1 {
        display: flex;
        justify-content: $centrado;
    }

    .main__valores__titulo {
        text-align: $centrado;
    }
    .main__valores__lista {
        display: flex;
        flex-direction: column;
        margin-left: map-get($espacios, 0);
        margin-right: map-get($espacios, 110);
        padding-left: map-get($espacios, 0);
        padding-right: map-get($espacios, 110);
    }

    #Mision {
        font-size: map-get($fontsize, 107);
    }

}