 /* EQUIPO */

 .main__equipo {
    margin-left: map-get($espacios, 0);
    margin-right: map-get($espacios, 0);
    padding-left: map-get($espacios, 0);
    width: 100%;
    @extend .column1-4;
    grid-row-start: 3;
    grid-row-end: 4;

    h3 {
        font-family: 'Luxurious Roman', cursive;
    }
}


.secciones__equipo1 {
    font-size: map-get($fontsize, 103);
    margin: 1.5rem 2rem;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;

    .equipo__texto__columnas {

        .equipo__desplegable {

            input {
                display: none;
            }

            label {

                h3 {
                    text-transform: uppercase;
                    &:hover {
                        border-bottom: 1px solid black;
                    }

                    #menos__integrantes, #menos__capacitacion, #menos__investigacion, #menos__tecnicos {
                        display: none;
                    }
                }
            }

            .texto__integrantes, .texto__capacitacion, .texto__investigacion, .texto__tecnicos {
                display: none;
            }
        }
        
    }
    
}

/* Activacion de los elementos desplegables */
#check__integrantes:checked ~ {

    label {
        h3{
            #menos__integrantes {
                display: inline
            }
            #mas__integrantes {
                display:none
            }

            border-bottom: 1px solid black;

        }
    }

    .texto__integrantes {
        display: block
    }

    
}

#check__capacitacion:checked ~ {

    label {
        h3{
            #menos__capacitacion {
                display: inline
            }
            #mas__capacitacion {
                display:none
            }

            border-bottom: 1px solid black;

        }
    }

    .texto__capacitacion {
        display: block
    }

    
}

#check__investigacion:checked ~ {

    label {
        h3{
            #menos__investigacion {
                display: inline;
            }
            #mas__investigacion {
                display:none
            }

            border-bottom: 1px solid black;

        }
    }

    .texto__investigacion {
        display: block
    }

    
}

#check__tecnicos:checked ~ {

    label {
        h3{
            #menos__tecnicos {
                display: inline
            }
            #mas__tecnicos {
                display:none
            }

            border-bottom: 1px solid black;

        }
    }

    .texto__tecnicos {
        display: block
    }

    
}



/* Cambio de iconos con lo desplegable */

/*#check__integrantes:checked ~ #mas__integrantes {
    display: none
}

#check__integrantes:checked ~ #menos__integrantes {
    display: block
}*/



.secciones__equipo2 {
    @extend .secciones__celeste;


    p {
        margin: 1rem 1.5rem;
        text-align: justify;
    }
}


.equipo__subtitulos--derecha {
    text-align: right;
}

.equipo__subtitulos--izquierda {
    text-align: left;
}

.main__seccion__banderas--larga {
    margin-left: map-get($espacios, 0);
    margin-right: map-get($espacios, 0);
}

@media screen and (max-width: 980px) {

    .secciones__equipo1 {
        font-size: map-get($fontsize, 105);
    }
}