  /*     BODY     */

  body{
    margin: 0 0;
    padding: map-get($espacios, 0);
    height: auto;
    overflow-x: hidden;
    
}

main {
    padding-top: map-get($espacios, 02);
    margin-bottom: map-get($espacios, 110);
    margin-left: map-get($espacios, 0);
    margin-right: map-get($espacios, 0);
    
    section {
        margin-top: map-get($espacios, 550);
        margin-bottom: map-get($espacios, 330);
    }
}

.main__imagenestop {
    padding-top: map-get($espacios, 03);
}

.img--lg,
.img--md,
.img--sm {
    display: none;
}


@include titulos;


.secciones__celeste {
    background: $colorfondo;
    width: 100%;
    color: $colorfont;
    font-size: map-get($fontsize, 105);
}