  /*     BODY     */

  body{
    margin: 0 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
    
}

main {
    padding-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.main__imagenestop {
    padding-top: 3rem;
}

.img--lg,
.img--md,
.img--sm {
    display: none;
}


@include titulos;


.secciones__celeste {
    background: $colorfondo;
    width: 100%;
    color: $colorfont;
    font-size: map-get($fontsize, 105);
}