 /*   FOOTER   */

 footer {
    background-color: $footerbg;
    margin-top: map-get($espacios, 66);
    clear: both;
    width: 100%;
    @extend .column1-4;
    grid-row-start: 5;
    grid-row-end: 6;

    section {
        margin-bottom: map-get($espacios, 110);
    }

}


.footer__contenedor {
    display: flex;
    justify-content: space-between;
    padding: map-get($espacios, 012);
    flex-wrap: wrap;
    margin-bottom: map-get($espacios, 0);
}

.footer__columna1 {
    display: flex;
    flex-direction: column;
    justify-items: $centrado;
    justify-content: $centrado;
    font-size: map-get($fontsize, 102);
    
}

.footer__columna2 {
    display: flex;
    flex-direction: column;
    align-items: $centrado;
    justify-content: $centrado;
}


.subgrid__derechos  {
    margin-top: map-get($espacios, 55);
    margin-bottom: map-get($espacios, 01);
    text-align: $centrado;
    font-size: map-get($fontsize, 102);
}

.footer__columna3 {
    margin-top: map-get($espacios, 0);
    margin-right: 0;    
    text-align: justify;
    font-size: map-get($fontsize, 102);
}

.columna3__contacto__whatsapp {
    display: flex;
    justify-content: $centrado;
    align-items: $centrado;
}

.columna3__contacto__telefono {
    display: flex;
    justify-content: $centrado;
    align-items: $centrado;
}

.columna3__contacto__mail {
    display: flex;
    justify-content: $centrado;
    align-items: $centrado;
}


       /*  FOOTER MOBILE */

@media screen and (max-width: 724px) {
    
    .subgrid__politicas {
        grid-area: politicas;
        text-align: $centrado;
    }

    .subgrid__redes {
        grid-area: redes;
        align-content: space-between;
        align-items: $centrado;
    }

    .subgrid__derechos {
        grid-area: derechos;
        font-size: map-get($fontsize, 103);
    }

    .subgrid__contactos {
        grid-area: contactos;
    }
    
    .footer__contenedor {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        gap: map-get($espacios, 005);
        grid-template-areas: 
        "redes"
        "contactos"
        "politicas"
        "derechos";
        justify-content: $centrado;
    }
}