
/* ---- bucle animacion menu ---- */

@each $var, $velox in $animacion {
    .menu__animate--#{$var}{
        animation-delay: $velox
    }
}


@each $red, $color in $redes {
    .red--#{$red} {
        background: $color;
        &:hover {
            background: white;
            .red__nombre {
                color: $color;
            }
        }
    }
}
