
/*-- colores header -- */

$headerfontcolor: white;
$headerfontcolortrans: black;
$headerbg: #4b6587;
$headersubbg: #6c757d;

/* -- Colores secciones -- */

$colorfondo: rgb(144, 173, 226);
$colorfont: white;

/* --  Colores Footer  -- */

$footerbg: #4b6587;
$footerfontcolor: white;

