
/*-- colores header -- */

$headerfontcolor: white;
$headerfontcolortrans: black;
$headerbg: #4b6587;
$headersubbg: #6c757d;

/* -- Colores secciones -- */

$colorfondo: rgb(144, 173, 226);
$colorfont: white;

/*  Colores Botones  */

$buttonoff: white;
$buttontxtoff: black;
$buttonbrdoff: black;
$buttonon: #6c757d;
$buttontxton: white;
$buttonbrdon: #4b6587;


/* --  Colores Footer  -- */

$footerbg: #4b6587;
$footerfontcolor: white;

