

/*---- ubicacion img servicios ---- */

@mixin ubicacion ($position) {
    float: $position;
    padding: map-get($espacios, 005);
}

/* -- Estilos titulos  --*/

@mixin titulos {
    h1{
        text-align: $centrado;
        font-size: map-get($fontsize, 4);
        margin: map-get($fontsize, 102);
    }

    h2{
        text-align: $centrado;
        font-size: map-get($fontsize, 3);
        margin: map-get($fontsize, 102);
    }

    h3{
        text-align: $centrado;
        font-size: map-get($fontsize, 3);
        margin: map-get($fontsize, 1);
        clear:both;
    }

    h4{
        text-align: $centrado;
        font-size: map-get($fontsize, 108);
        margin: map-get($fontsize, 1);
    }
}