$centrado: center;



/* maps */
$animacion:(
    delay1: 0.3s, 
    delay2: 0.6s, 
    delay3: 0.9s, 
    delay4: 1.2s, 
);

$fontsize:(
    1r: 1rem,
    1-1r: 1.1rem,
    1-2r: 1.2rem,
    1-3r: 1.3rem,
    1-5r: 1.5rem,
    1-7r: 1.7rem,
    1-8r: 1.8rem,
    3r: 3rem,
    4r: 4rem
);

$redes:(
	twitter: #51aff8,
	facebook: #2956a3,
	linkedin: #0076b8,
	instagram: #ce1312
);