$centrado: center;


/* maps */

$animacion:(
    delay1: 0.3s, 
    delay2: 0.6s, 
    delay3: 0.9s, 
    delay4: 1.2s, 
);

$fontsize:(
    1: 1rem,
    101: 1.1rem,
    102: 1.2rem,
    103: 1.3rem,
    105: 1.5rem,
    107: 1.7rem,
    108: 1.8rem,
    3: 3rem,
    4: 4rem
);

