$centrado: center;


/* maps */

$animacion:(
    delay1: 0.3s, 
    delay2: 0.6s, 
    delay3: 0.9s, 
    delay4: 1.2s, 
);

$fontsize:(
    1: 1rem,
    101: 1.1rem,
    102: 1.2rem,
    103: 1.3rem,
    105: 1.5rem,
    107: 1.7rem,
    108: 1.8rem,
    3: 3rem,
    4: 4rem,
    20: 20rem,
);

$espacios: (
    0: 0px,
    005: 0.5rem,
    006: 0.6rem,
    007: 0.7rem,
    008: 0.8rem,
    01: 1rem,
    012: 1.2rem,
    013: 1.3rem,
    015: 1.5rem,
    016: 1.6rem,
    02: 2rem,
    045: 4.5rem,
    020: 20rem,
    03: 3rem,
    33: 3px,
    55: 5px,
    66: 6px,
    110: 10px,
    220: 20px,
    330: 30px,
    550: 50px,
    778: 78px,
    880: 80px,
    3300: 300px,
);

